{% extends 'recepies/base.html' %} 
{% load static %} 


{% block title %}
Добавить продукты
{% endblock %}


{% block content %}


<div class="content">
  <div class="container_12">
    <div class="grid_7">
      <div class="blog"> <img src={{ recepie.recepie_image.url }} width="200" height="200" loading="lazy" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <h4><a href="#">{{ recepie.recepie_name }}</a></h4>
          <p></p>
          <h4>Состав:</h4>
          {% for product in products %}
            <div class="extra_wrapper">
              <h4>{{ product.product_id.product_name }}, {{ product.weight }} гр.</h4>
              <a href="{{ delete_product_url }}?recepie_id={{ recepie.pk }}&product_id={{ product.product_id.pk }}">Удалить</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="grid_4">
      {{ no_products_error }}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% for field in product_form %}
          <p>{{ field.label_tag }}</p> 
          <p>{{ field }}</p>
        {% endfor %}
        <div>
          <button class="register-button" type="submit" name="add_product">Добавить продукт к рецепту</button>
        </div>
      </form>
    </div>
    {% if products %}
      <a href="{{ cook_recepie }}?recepie_id={{ recepie.pk }}" > Приготовить рецепт </a>
    {% endif %}
  </div>

</div>

{% endblock %}