{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<div class="content">
  <div class="container_12">
    <div class="clear"></div>
    <div class="grid_12">
      <h3>Добро пожаловать в кулинарную книгу!</h3>
      <div class="extra_wrapper">
        <p>Здесь вы можете найти подходящий для вас рецепт и добавить собственный.</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
{% if user.is_authenticated %}
  <div class="content">
    <div class="container_12">
      <div class="clear"></div>
      <div class="grid_12">
        <a href="{% url 'create_recepie' user.username %}"><h3>Создать рецепт</h3></a> </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container_12">
      <div class="clear"></div>
      <div class="grid_12">
        <a href="{% url 'search_recepie_without_product' %}"><h3>Найти рецепт</h3></a></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <h3></h3>
{% else %}
  <div class="content">
    <div class="container_12">
      <div class="clear"></div>
      <div class="grid_12">
        <a href="{% url 'login' %}"><h3>Авторизоваться</h3></a></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container_12">
      <div class="clear"></div>
      <div class="grid_12">
        <a href="{% url 'registration' %}"><h3>Зарегистрироваться</h3></a></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
{% endif %}



{% endblock %}