{% extends "users/base.html" %}
{% load static %} 


{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block content %}

<div class="content">
  <div class="container_12">
    <div class="grid_6 prefix_1">
      <h3>Регистрация</h3>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          {{ field.errors }}
          <p>{{ field.label_tag }}</p> 
          <p>{{ field }}</p>
        {% endfor %}
        <button class="login-button" type="submit" name="login">Зарегистрироваться</button>
      </form>
    </div>
  </div>  
</div>


{% endblock %}