{% extends 'recepies/base.html' %} 
{% load static %} 


{% block title %}
Рецепты пользователя
{% endblock %}

{% block content %}

<div class="container_12">
  <h3>Список рецептов</h3>
</div>
{% for recepie in user_recepies %}
    <div class="container_12">
      <div class="blog"> <img src={{ recepie.recepie_image.url }} width="200" height="200" loading="lazy" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <h4><a href="#">{{ recepie.recepie_name }}</a></h4>
          <a href="{% url 'get_recepie_products' recepie.slug %}" class="link1">Редактировать</a> </div>
          <a href="{{ delete_recepie_url }}?recepie_id={{ recepie.pk }}" class="link1">Удалить</a> </div>
      </div>
    </div>
{% endfor %}

<div class="container_12">
  <a href="{% url 'create_recepie' %}" class="extra_wrapper">
    <h3>Добавить новый рецепт</h2>
  </a>
</div>

{% endblock %}