{% extends 'recepies/base.html' %} 
{% load static %} 


{% block title %}
Рецепты пользователя
{% endblock %}

{% block content %}

{% for recepie in user_recepies %}
  <div class="grid_7">
    <div class="blog"> <img src={{ recepie.recepie_image }} alt="" class="img_inner fleft">
      <div class="extra_wrapper">
        <h4><a href="#">{{ recepie.recepie_name }}</a></h4>
        <a href="#" class="link1">Редактировать</a> </div>
        <a href="#" class="link1">Удалить</a> </div>
    </div>
  </div>
{% endfor %}

<a href="{% url 'create_recepie' username=username %}" class="btn-1">
  Новый рецепт
</a>

{% endblock %}